* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #1a1a1a;
  color: #e6e6e6;
  background-image: url("../img/violet-spiderweb.png");
  background-size: cover;
  background-position: center;
  background-size: 150em;
  overflow: hidden;
}

/* Utility classes */
.hidden {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 50px;
}

/* Character creation form */
#character-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #333;
  width: 80em;
  color: #e6e6e6;
  padding: 80px;
  border-radius: 10px;
  padding-bottom: 100px; /* added padding */
  position: relative;
  z-index: 1;
  margin-bottom: 100px; /* added margin */
}

#text {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 20px; /* added margin */
}

.textElement {
  display: block;
}

.optionButtonsElement {
  display: flex;
}

/* Form input styling */
input[type="text"],
select {
  background-color: #555;
  color: #e6e6e6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

/* Button styling */
button {
  background-color: #555;
  color: #e6e6e6;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Button hover effect */
.btn:hover {
  background-color: #4b345e;
}

/* Background image styling */
.baggrundsbillede {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100
}

/* Image container styling */
#image-container {
  position: relative;
  margin-bottom: 100px;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: 999; /* Set a higher z-index than the form */
  display: none; /* initially hidden */
  background-color: #333;
  align-items: center;
  border-radius: 10px;
  padding: 200px;
}

#image-container img {
  display: flex;
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  height: 90%;
}

#text {
  position: absolute;
  left: 50%;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  line-height: 1.3;
  color: white;
  text-align: center;
  display: inline-block;
  max-width: 150%;
  width: auto;
  margin: 130px auto 20px; /* added margin-top */
  transform: translate(-50%, -60%);
  z-index: 899; 
   
  
}



  span{

    font-weight: 700;

  }
  .btn {
    align-items: center;
    margin: 0 85px;
    display: inline-flex;
    font-size: 28px;
    background-color: #555;
    color: #e6e6e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  #option-buttons {
    margin-bottom: 200px;
  }
  /* Image container styling */
#image-container {
  position: relative;
  margin-bottom: 100px;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: 999; /* Set a higher z-index than the form */
  display: none; /* initially hidden */
  background-color: #333;
  align-items: center;
  border-radius: 10px;
  padding: 200px;
}

#image-container img {
  display: flex;
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  height: 90%;
}


 
@media screen and (max-width: 767px) {

body{
  overflow: hidden;
}
h1{
  font-size: 30px;
  margin: 0 20px 50px 20px;

}
.center {
  width: 100%;
  height: 100%;
  margin: 80px 50px 80px;
}
#character-creation{
  font-size: 15px; 
  font-weight: 100;
}


  /* Adjust the styles for the image container */
  #image-container {
    width: 100%;
    height: 60%;
    padding: 20px;
    margin: 20px 96px 0px 50px;
  }
  /* Adjust the styles for the image and text */
  #image-container img {
    width: 300px;
    height: 100px;
  }
  #text {
    padding: 2px;
    font-size: 15px;
    position: inherit
 
  }

  /* Adjust the styles for the option buttons */
  .btn-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px 98px 20px 1px;
   
  }
  .btn {

    justify-content: space-between;
    font-size: 12px;
    margin:20px 25px 18px;
  }


}


